
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
<div>
    <h1>Welcome to My Book Store Application</h1>
    <h1>@DateTime.UtcNow</h1>

    @{
        const int sum = 3 + 5;
    }

    <h1>Sum = @sum</h1>
    <h1>ahmed.fathy.dev@gmail.com</h1>
    <h1>@@TwitterAccount</h1>
</div>
</body>
</html>